.KKAB{
	width: 14%;
	height:400px;
	float : left;
}


.kontaktpngs{
	float : left;
	height: 50px;
	width: 50px;
	margin-bottom: 30px;
}

.kontaktps{
	text-align:left;
	color: black;
	text-indent: 15px;

}
.Kontaktbox{
	width: 350px;
	height:400px;
	float: left;
}

.Kontaktframe{
	height: 400px;
	width: 100%;
}